.form{
  padding-top: 200px;
  width:25%;
}

.list{
  padding-top: 50px;
  width:50%;
}

.table a
{
    display:block;
    text-decoration:none;
}

.circular {
	width: 35px;
	height: 35px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background, url("../img/chen.png") no-repeat;
	}
